@model StudentMvcApp.Components.TodayInfoVm

<div class="alert alert-info d-flex justify-content-between">
    <span>@Model.Message</span>
    <span>@Model.Date.ToString("dd.MM.yyyy HH:mm")</span>
</div>
